{% extends "./base_nav_footer.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block maincontainer %}
<main>
  <div class="container">
    <div class="col-md-12">
      <img style="width: 100%; "src="https://pugofka.com/upload/iblock/bb0/404_error.png" alt="">
    </div>
    <div class="space-between"></div>
  </div>
</main>
{% endblock %}
