{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en" class="full-height" data-livestyle-extension="available">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <meta property="title" content="">
  <meta property="description" content="">
  <meta property="url" content="">
  <meta property="site_name" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:site" content="">
  <meta name="twitter:image" content="">
  <meta name="twitter:creator" content="">

  <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}">
  <link href="{% static 'home/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'home/css/mdb.css' %}" rel="stylesheet">
  <link href="{% static 'home/css/style.css' %}" rel="stylesheet">
	<!-- <link href="{% static 'home/css/animsition.min.css' %}" rel="stylesheet"> -->
  <!-- <link href="{% static 'home/css/jquery.pagepiling.css' %}" rel="stylesheet"> -->

  <link rel="icon" href="{% static 'home/img/favicon.ico' %}" type="image/x-icon" />
  <link rel="shortcut icon" href="{% static 'home/img/favicon.ico' %}" type="image/x-icon" />
</head>
<body class="cyan-skin intro-page cafe-lp">
	<header>
    <nav class="navbar fixed-top navbar-toggleable-sm navbar-light scrolling-navbar">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        <a class="navbar-brand animsition-link" href="/">
                    <img class='logo-image' src="{% static 'home/img/logo_admin.png' %}">
                </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light h6 animsition-link" href="/">Головна<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light h6 animsition-link" href="#">Про нас<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light h6 animsition-link" href="/catalog">Каталог<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light h6 animsition-link" href="#">Контакти<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
	{% block maincontainer %} {% endblock %}
	

	<script type="text/javascript" src="{% static 'catalog/js/jquery-3.2.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'catalog/js/tether.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'catalog/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'catalog/js/mdb.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'catalog/js/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'catalog/js/jquery.matchHeight.js' %}"></script>
	<!-- <script type="text/javascript" src="{% static 'catalog/js/animsition.min.js' %}"></script> -->
  <!-- <script type="text/javascript" src="{% static 'catalog/js/jquery.pagepiling.min.js' %}"></script> -->

	<script>
		//Animation init
		new WOW().init();
		// Material Select Initialization
		$(function() {
			$('.same-height').matchHeight();
		});
		// Same height for containers
		$(function() {
			$('.same-height-text').matchHeight();
		});
		$(function() {
			$('.same-height-button').matchHeight();
		});
	</script>
</body>
</html>
{% endblock %}
