/* Your custom style */

.cafe-lp .top-nav-collapse {
    background-color: #003333;
    color: #fff;
}

.covidien nav.top-nav-collapse {
    background-color: #001e46;
    color: #fff;
}

#navbarNav ul.navbar-nav.mr-auto {
    padding-top: 6px;
}

#map {
    height: 400px;
    width: 100%;
}

.navbar-menu {
    display: inline-flex;
    width: 980px;
    max-width: 100%;
    margin: auto;
}

.navbar.navbar-light .breadcrumb a, .navbar.navbar-light .nav-item a {
    color: #CCFFFF;
    transition: .35s;
}

.navbar.navbar-light .breadcrumb a, .navbar.navbar-light .nav-item a:hover {
    color: #fff;
    transition: .35s;
}

.navbar.navbar-dark .breadcrumb a, .navbar.navbar-dark .navbar-nav .nav-item a {
    color: #339999;
    transition: .35s;
}

.covidien .navbar.navbar-dark .breadcrumb a, .covidien .navbar.navbar-dark .navbar-nav .nav-item a {
    color: #fff;
    transition: .35s;
}

.covidien .navbar.navbar-dark .breadcrumb a, .covidien .navbar.navbar-dark .navbar-nav .nav-item a:hover {
    color: #001e46;
    transition: .35s;
}

.navbar.navbar-dark.top-nav-collapse .navbar-nav .nav-item a {
    color: #ccffff;
    transition: .35s;
}

.covidien .navbar.navbar-dark.top-nav-collapse .navbar-nav .nav-item a {
    color: #fff;
    transition: .35s;
}

.covidien .navbar.navbar-dark.top-nav-collapse .navbar-nav .nav-item a:hover {
    color: #71c5e8;
    transition: .35s;
}

.navbar-nav.mr-auto.smooth-scroll {
    padding-top: 8px;
}

.logo-image {
    height: auto;
    width: auto;
    max-width: 40px;
    max-height: 40px;
}

body {
    background-color: #fff;
    margin: 0px;
}

body.covidien {
    background-color: #0085ca;
    margin: 0px;
}

html, body {
    height: 100%;
}

@media (max-width: 768px) {
    .cafe-lp.cyan-skin.intro-page .navbar:not(.top-nav-collapse) {
        background: #003333 !important;
    }
    .cafe-lp.cyan-skin.intro-page.covidien .navbar:not(.top-nav-collapse) {
        background: #001e46 !important;
    }
}

.d-block.w-100 {
    height: 100%;
}

.carousel-indicators {
    bottom: 25%;
    justify-content: flex-end;
}

.carousel-caption {
    bottom: 32%;
    text-align: right;
}

.covidien-text {
    color: #ccffff;
}

.dropdown-divider {
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.covidien .dropdown-divider {
    height: 2px;
    background-color: #001e46;
    margin-top: 0px;
    margin-bottom: 0px;
}

.optima-text {
    color: #003333
}

.card {
    background-color: #339999;
}

.row {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.row>[class*='col-'] {
    display: flex;
    flex-direction: column !important;
}

@media (min-width: 768px) {
    .row.equal {
        display: flex !important;
        flex-wrap: wrap !important;
    }
}

.card-text {
    margin: 10px;
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
}

.text-muted {
    padding: 10px;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.is-flex>[class*='col-'] {
    display: flex;
    flex-direction: column;
}

a.anchor {
    color: #339999;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex>[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cafe-lp .intro {
    background-image: url("../img/wordcloud.jpg");
}

.cafe-lp .photo-3 {
    background-image: url("../img/steak_4.jpg");
}

.cafe-lp .photo-2 {
    background-image: url("../img/steak_3.jpg");
}

.cafe-lp .photo-1 {
    background-image: url("../img/steak_2.jpg");
}

.cafe-lp .photo-0 {
    background-image: url("../img/steak_1.jpg");
}

footer.optima-color {
    background-color: #003333;
    color: #fff;
}

.covidien footer.optima-color {
    background-color: #001e46;
}

.optima-light-color {
    background-color: #339999 !important;
}

.covidien .optima-light-color {
    background-color: #f7a800 !important;
    width: 92.8%;
}

.btn-outline-default {
    border: 2px solid #fff;
    color: #ccffff !important;
    background-color: transparent;
    width: 95%;
}

.space-between {
    padding: 5%;
}

.space-between-sm {
    padding: 2%;
}

.space-between-md {
    padding: 5%;
}

.space-between-lg {
    padding: 8%;
}

.space-between-xl {
    padding: 10%;
}

.tiles-mag {
    margin-left: 5%;
}

.tiles-blog {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.tiles-blog .tiles-margins .tiles-blog-post {
    position: relative;
    overflow: hidden;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-image::after {
    display: block;
    position: relative;
    margin-top: -300px;
    content: "";
    height: 300px;
    width: 100%;
    background: linear-gradient(transparent, rgba(0, 51, 51, 1)) repeat-x;
}

.covidien .tiles-blog .tiles-margins .tiles-blog-post .tiles-image::after {
    display: block;
    position: relative;
    margin-top: -300px;
    content: "";
    height: 300px;
    width: 100%;
    background: linear-gradient(transparent, rgb(132, 168, 197)) repeat-x;
}

.tiles-blog .tiles-margins {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-post-body {
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    padding: 0px 30px 22px;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-post-body .tiles-post-category {
    display: inline;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-post-body .tiles-post-category a {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    background-color: rgba(0, 51, 51, 1);
    color: rgb(255, 255, 255);
    padding: 1px 10px;
    border-width: initial !important;
    border-style: none !important;
    border-color: initial !important;
    border-image: initial !important;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-post-body .tiles-post-comments {
    margin: 10px 0px 0px 16px;
}

.tiles-blog .tiles-margins .tiles-blog-post .tiles-post-body .tiles-post-comments a {
    color: rgb(158, 158, 158);
    transition: 0.3s;
}

.responsive-object {
    padding: 2% 2% 0 2% !important;
}

.responsive-object iframe {
    width: 100%;
}

.left-drift-sm {
    margin-left: 2%;
}

.right-drift-sm {
    margin-right: 2%;
}

.zero-left-shift {
    border-left: 0;
}

.no-padding {
    padding: 0px;
}

.breadcrumb {
    background-color: inherit;
    color: inherit;
}

.breadcrumb a {
    color: #339999;
    font-size: 80%;
}

.covidien .breadcrumb a {
    color: #fff;
    font-size: 80%;
}

.covidien .breadcrumb {
    width: 95%;
    margin-left: auto;
}

footer.page-footer {
    padding-top: 0px;
    padding-bottom: 1px;
    margin: 0px;
}

/* ADD TO TEMPLATE GENERATOR, AND RENDER ON A SPECIFIC PAGE*/

body.backstage {
    background-image: url("https://www.maquet.com/globalassets/products/specialties/hero-cardiac-surgery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.zero-left-shift a.nav-link {
    padding-left: 8px;
    margin-left: 0;
    border-left: 0;
}

.breadcrumb.d-inline-flex {
    margin-bottom: 0px;
}

.list-group {
    background-color: #ccffff;
}

.covidien .list-group {
    background-color: #71c5e8;
}

a.list-group-item {
    background-color: #ccffff;
    color: #339999;
}

.list-group-item:hover {
    background-color: #339999;
    color: #ccffff;
}

.list-group-item.active {
    z-index: 2;
    color: #ccffff;
    background-color: #339999;
    border-color: #339999;
}

.covidien a.list-group-item:nth-child(odd) {
    background-color: #004b87;
    color: #fff;
}

.covidien a.list-group-item:nth-child(even) {
    background-color: #001e46;
    color: #fff;
}

.covidien a.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #f7a800;
    border-color: #f7a800;
}

.product-name {
    margin-top: .9rem;
}

.carousel-thumbnails {
    margin-bottom: 80px;
}

.accordion .card .card-header {
    padding: 1rem 1.5rem;
    background: 0 0;
    border-bottom: 0;
    background-color: #339999;
}

.accordion a {
    color: #ccffff;
}

.card-body {
    background-color: #339999;
    color: #ccffff;
    padding-left: 1%;
    padding-right: 1%;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.fixed-stretch {
    width: 100%;
    max-width: 1920px;
}

ul.table-of-contents {
    margin-top: 0;
    padding-top: 5%;
}

.table-of-contents li {
    padding: 10px 0px 0px 0px;
    padding-bottom: 5px;
    box-sizing: inherit;
    height: 100%;
}

.table-of-contents .marker.stiked {
    font-weight: 500;
    padding-left: 0px;
    padding-right: 0px;
}

div.marker.stiked a.active {
    border-right: 2px solid #339999;
    padding-right: 30px;
    height: 100%;
    display: block;
}

.covidien div.marker.stiked a.active {
    border-right: 2px solid #f7a800;
    padding-right: 30px;
    height: 100%;
    display: block;
}

.table-of-contents a {
    font-weight: 500;
    color: #339999;
}

.covidien .table-of-contents a {
    font-weight: 500;
    color: #fff;
}

.covidien .table-of-contents a:hover {
    font-weight: 500;
    color: #71c5e8;
}

.toc-wrapper {
    position: relative;
    padding-top: 35px;
}

.pinned {
    position: sticky !important;
}

.product-page img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 15px 50px;
    background: #fff;
    padding: 20px;
    margin: auto;
}

.rich-text p:first-of-type {
    font-weight: 900;
}

.covidien .rich-text h4 {
    border-bottom: 1px solid #f7a800;
    display: inline-block;
    margin: 10px 0px 8px 2px;
}

.rich-text ul {
    display: block;
    padding: 2% 5% 2% 5%;
    display: inline-block;
}

.rich-text ul>li {
    display: block;
    padding-top: 1.5%;
    border-bottom: 2px solid #339999;
}

.rich-text ul>li:first-of-type {
    display: block;
    padding-top: 0%;
    border-bottom: 2px solid #339999;
}

.covidien .rich-text ul>li {
    display: block;
    padding-top: 1.5%;
    padding-bottom: 0%;
    border-bottom: 2px solid #f7a800;
}

.covidien .rich-text ul>li:first-of-type {
    display: block;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    border-bottom: 2px solid #f7a800;
}

.rich-text ol {
    display: block;
    padding: 2% 5% 2% 5%;
}

.rich-text ol>li {
    display: block;
    padding-top: 1.5%;
    border-bottom: 2px solid #339999;
}

ol.breadcrumb {
    border-bottom: 2px solid #339999;
}

.covidien ol.breadcrumb {
    border-bottom: 2px solid #f7a800
}

.covidien .rich-text ol>li {
    display: block;
    padding-top: 1.5%;
    border-bottom: 2px solid #f7a800;
}

.covidien .rich-text ol>li:first-of-type {
    display: block;
    padding-top: 0%;
    border-bottom: 2px solid #f7a800;
}

.navbar-toggleable-md .navbar-collapse {
    padding-top: 0.8%;
}

.navbar-toggleable-sm .navbar-collapse {
    padding-top: 0.8%;
}

.navbar.navbar-dark .breadcrumb a, .navbar.navbar-dark .navbar-nav .nav-item a:hover {
    color: #003333;
    transition: .35s;
}

.navbar.navbar-dark .top-nav-collapse .breadcrumb a, .navbar.navbar-dark .navbar-nav .nav-item a:hover {
    color: #ccffff;
    transition: .35s;
}

.covidien .covidien-blue-bg {
    background-color: #001e46;
}

.covidien .covidien-blue-list:nth-child(even) {
    background-color: #001e46;
}

.covidien section.covidien-blue-list>div.row:nth-child(even) {
    background-color: #004b87;
}

img.img-fluid.image-container {
    margin-top: 15%;
    background-color: inherit;
}

div.product-description>h4.title {
    padding-top: 12%;
}

.covidien div.product-description>h4.title {
    padding-top: 12%;
}

.covidien div.product-description>h4.title>a.anchor {
    color: #fff;
}

.covidien a.btn.btn-secondary.waves-effect.waves-light.covidien-orange {
    color: #fff;
    background-color: #f7a800;
}

.covidien a.btn.btn-secondary.waves-effect.waves-light.covidien-orange:hover {
    color: #fff;
    background-color: #FF803E !important;
}

div.product-description>p.intro {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

.covidien div.product-description>p.intro {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    color: #fff;
}

div.product {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div.product-description>div.rich-text {
    margin-left: 3%;
    margin-right: 2%;
    margin-bottom: 3%;
}

section#productDetails>article.product-page {
    font-family: "PT Sans";
    font-weight: normal;
    font-size: 1em;
    line-height: normal;
    font-stretch: normal;
    font-size: normal;
}

.hidden-part {
    display: none;
}

.contact-page {
    font-family: "PT Sans";
    font-weight: normal;
    font-size: 1.2em;
    line-height: normal;
    font-stretch: normal;
    font-size: normal;
    color: #000;
}

.contact-page h3 {
    border-bottom: 2px solid #339999;
    ;
}

.dropdown-divider.contact-page {
    background-color: #339999;
}

.contact-page input {
    background: #339999;
    color: #000;
}

.input-btn {
    margin: 6px;
    white-space: normal !important;
    word-wrap: break-word;
    text-transform: uppercase;
    border: 2px solid #ccffff;
    border-radius: 2px;
    color: #ccffff !important;
    background-color: #339999;
    width: 95%;
    height: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.page-body {
    min-height: 67vh;
    margin-right: 5.5%;
}
.scope {
    position: relative;
    top: 0%;
    left: 0%;
}
.gallery-hover {
    position: relative;
    transition: .5s ease;
    backface-visibility: hidden;
}

.indicator {
    font-size: 3em;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.scope:hover .gallery-hover {
    opacity: 0.5;
}
.scope:hover .indicator {
    opacity: 1;
}

.thanks {
    align-items: center;
}

@font-face {
    font-family: Meriweather;
    /* Имя шрифта */
    src: url(../font/Serif/Meriweather/Merriweather-Regular.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "Roboto Condensed";
    /* Имя шрифта */
    font-weight: normal;
    src: url(../font/SansSerif/RobotoCondensed/RobotoCondensed-Regular.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "Roboto Condensed";
    /* Имя шрифта */
    font-weight: 200;
    src: url(../font/SansSerif/RobotoCondensed/RobotoCondensed-Light.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "PT Sans";
    font-weight: normal;
    src: url(../font/SansSerif/PT_Sans/PT_Sans-Web-Regular.ttf)format("truetype");
    src: url(../font/SansSerif/PT_Sans/PTSans-Regular.otf)format("opentype");
    src: url(../font/SansSerif/PT_Sans/PTSans-Regular.woff)format("woff");
    src: url(../font/SansSerif/PT_Sans/PTSans-Regular.svg)format("svg");
}

@font-face {
    font-family: "PT Sans";
    font-weight: bold;
    src: url(../font/SansSerif/PT_Sans/PT_Sans-Web-Bold.ttf)format("truetype");
    src: url(../font/SansSerif/PT_Sans/PTSans-Bold.otf)format("opentype");
    src: url(../font/SansSerif/PT_Sans/PTSans-Bold.woff)format("woff");
    src: url(../font/SansSerif/PT_Sans/PTSans-Bold.svg)format("svg");
}

@font-face {
    font-family: "PT Sans";
    font-weight: normal;
    font-style: italic;
    src: url(../font/SansSerif/PT_Sans/PT_Sans-Web-Italic.ttf)format("truetype");
    src: url(../font/SansSerif/PT_Sans/PTSans-Italic.otf)format("opentype");
    src: url(../font/SansSerif/PT_Sans/PTSans-Italic.woff)format("woff");
    src: url(../font/SansSerif/PT_Sans/PTSans-Italic.svg)format("svg");
}

@font-face {
    font-family: "PT Sans";
    font-weight: bold;
    font-style: italic;
    src: url(../font/SansSerif/PT_Sans/PT_Sans-Web-BoldItalic.ttf)format("truetype");
    src: url(../font/SansSerif/PT_Sans/PTSans-BoldItalic.otf)format("opentype");
    src: url(../font/SansSerif/PT_Sans/PTSans-BoldItalic.woff)format("woff");
    src: url(../font/SansSerif/PT_Sans/PTSans-BoldItalic.svg)format("svg");
}