{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en" class="full-height" data-livestyle-extension="available">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <meta property="title" content="">
  <meta property="description" content="">
  <meta property="url" content="">
  <meta property="site_name" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:site" content="">
  <meta name="twitter:image" content="">
  <meta name="twitter:creator" content="">

  <link href="{% static 'home/css/reset.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}">
  <link href="{% static 'home/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'home/css/mdb.css' %}" rel="stylesheet">
  <link href="{% static 'home/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'home/css/lightbox.min.css' %}" rel="stylesheet">
  
    <!-- <link href="{% static 'home/css/animsition.min.css' %}" rel="stylesheet"> -->
  <!-- <link href="{% static 'home/css/jquery.pagepiling.css' %}" rel="stylesheet"> -->

  <link rel="icon" href="{% static 'home/img/favicon.ico' %}" type="image/x-icon" />
  <link rel="shortcut icon" href="{% static 'home/img/favicon.ico' %}" type="image/x-icon" />
</head>
{% if page.is_covidien_related %}
<body class="cyan-skin intro-page cafe-lp covidien">
{% else %}
<body class="cyan-skin intro-page cafe-lp">
{% endif %}
    <header>
    {% if page.is_main_page %}
    <nav class="navbar fixed-top navbar-toggleable-sm navbar-light scrolling-navbar">
    {% elif page.with_white_background %}
    <nav class="navbar fixed-top navbar-dark scrolling-navbar">
    {% else %}
    <nav class="navbar fixed-top navbar-toggleable-sm navbar-dark scrolling-navbar">
    {% endif %}
        <div class="container navbar-menu">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        <a class="navbar-brand animsition-link" href="/">
                    <img class='logo-image' src="{% static 'home/img/logo_admin.png' %}">
                </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light h6 animsition-link" href="/">Головна<span class="sr-only">(current)</span></a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link waves-effect waves-light h6 animsition-link" href="#">Про нас<span class="sr-only">(current)</span></a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light h6 animsition-link" href="/catalog">Каталог<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light h6 animsition-link" href="/contacts">Контакти<span class="sr-only">(current)</span></a>
            </li>
          </ul>
      </div>
    </div>
    </nav>
  </header>
    {% block maincontainer %} {% endblock %}
    <footer class="page-footer center-on-small-only	 optima-color hm-black-strong">
        <div class="container">
            <br>
            <div class="row mt-2 mb-1 text-center wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                <div class="col-md-4">
                    <h5 class="title">Ми працюємо</h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Понеділок - П'ятниця:</td>
                                <td>8:00 - 17:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr class="w-100 clearfix d-md-none">
                <div class="col-md-4">
                    <h5 class="title">Наша адреса</h5>
                    <p>вул. Антона Цедіка 12<br> Київ, 03611 <br>
                </div>
                <hr class="w-100 clearfix d-md-none">
                <div class="col-md-4">
                    <h5 class="title">Наші контаки</h5>
                    <p>Тел. (044) 364-70-71
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="{% static 'home/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/lightbox.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'home/js/animsition.min.js' %}"></script> -->
  <!-- <script type="text/javascript" src="{% static 'home/js/jquery.pagepiling.min.js' %}"></script> -->

    <script>
        //Animation init
        new WOW().init();
        // Material Select Initialization
        $(function() {
            $('.same-height').matchHeight();
        });
        // Same height for containers
        $(function() {
            $('.same-height-text').matchHeight();
        });
        $(function() {
            $('.same-height-button').matchHeight();
        });
        // ScrollSpy for sidemenus
        $(document).ready(function() {
            $('.scrollspy').scrollSpy();
        });
    </script>
    
</body>
</html>
{% endblock %}
