{% extends "./base_nav_footer.html"%}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block maincontainer %}
  <main>
    <div class="container">
      <div class='space-between'></div>
      <div class='space-between'></div>
      <div class="row">
        <div class="col-md-12 thanks">
          <h1>Дякуємо за відгук!</h1>
        </div>
      </div>
      <div class='space-between-xl'></div>
      <div class='space-between-xl'></div>
      <div class='space-between'></div>
    </div>

  </main>
{% endblock %}
