{% extends "./base_nav_footer.html"%}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block maincontainer %}
<main>
  <div class="container">
    <div class='space-between'></div>
    <div class="row">

      <div class="col-md-11">
      <div class="row">
        <div class="col-md-6 contact-page">

                        <h3>Контакна інформація</h3>
                        <p>
                            {{ page.street }}<br>{{ page.city }}, {{ page.country }}, індекс {{ page.post_index }} <br>
                        </p>
                        <p><i class="fa fa-phone"></i>
                            <abbr title="Телефон">Тел.</abbr>: {{ page.phone_number }}</p>
                            <p><i class="fa fa-envelope-o"></i>
                                <abbr title="Пошта">Пошта</abbr>: <a href="mailto:{{ page.mail }}">info@optimatrading.com.ua</a>
                            </p>
                        <p><i class="fa fa-clock-o"></i>
                            <abbr title="Години роботи">Години роботи</abbr>: Понеділок - П'ятниця: 9:00 до 17:00 години</p>

        </div>
        <div class="col-md-6">
          <div id="map"></div>
        </div>
      </div>
        <br>
        <div class="dropdown-divider contact-page"> </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-6">
            <h3> Ваш відгук </h3>
            <form action="{% pageurl page %}" method="POST">
              {% csrf_token %} {{ form.as_p }}
              <input class="input-btn" type="submit" value="Biдправити">
            </form>
          </div>
          <div class="col-md-6">

          </div>
      </div>
      </div>
      <div class="cold-md-1">
      </div>
    </div>
    <div class='space-between'></div>
  </div>
</main>
<script>
      function initMap() {
        var uluru = {lat: 50.4593532,
                lng: 30.4383672};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9hsVT5fL7nWCI-HLAZbow9bQZBZIQGN4&callback=initMap">
    </script>

{% endblock %}
