{% extends "./base_nav_footer.html"%}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block maincontainer %}
  <main>
    <section class="carousel">
      <div id="Maincarousel" class="carousel slide hidden-sm-down" data-ride="carousel">
        <ol class="carousel-indicators wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
          <li data-target="#Maincarousel" data-slide-to="0" class="active"></li>
          <li data-target="#Maincarousel" data-slide-to="1"></li>
          <li data-target="#Maincarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
        {% for page_child in page.get_children.first.get_children %}
            {% if forloop.first %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
            {% image page_child.specific.get_slider_image.image original as tmp_picture %}
            <a href="{{ page_child.specific.url }}" class="w-100"><img class="d-block w-100" src="{{ tmp_picture.url }}" alt=""></a>
            <div class="carousel-caption d-none d-md-block covidien-text">
                <div class="row">
                    <div class="col-sm-1 col-md-3 col-lg-3"></div>
                        <div class="col-sm-11 col-md-9 col-lg-9">
                            <p class="h1 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">{{ page_child.specific.get_slider_image.caption }}</p>
                            <div class="dropdown-divider wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;"></div>
                            <p class="h3 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">{{ page_child.specific.get_slider_image.small_caption }}</p>
                        </div>
                </div>
            </div>
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#Maincarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#Maincarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <div class="section">
      <div class="container">
        <br id="catalog">
        <section class="section">
          <div class="divider-new pb-1 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
            <h2 class="h2-responsive optima-text wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">Офіційний дистриб'ютор</h2>
          </div>
          <div class="row">
            {% for page_child in page.get_children.first.get_children %}
              {% with content_url=page_child.specific.url %}
            <div class="col-lg-4 col-md-12 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
              <div class="card card-cascade narrower hoverable same-height">
                <div class="view overlay hm-white-slight z-depth-1">
                  {% image page_child.specific.main_image fill-900x600-c20 as tmp_picture %}
                  <a href="{{ page_child.specific.url }}"><img src="{{ tmp_picture.url }}" class="img-fluid rounded-top" alt=""></a>
                  <a href="{{ page_child.specific.url }}">
                    <div class="waves-light waves-effect waves-light"></div>
                  </a>
                </div>
                <div class="card-body text-center">
                  <a href="{{ page_child.specific.url }}" class="text-muted"><h5>{{ page_child.specific.sphere }}</h5></a>
                  <h4 class="card-title"><strong><a href="{{ content_url }}">{{ page_child.specific.short_title }}</a></strong></h4>
                    <div class="card-text same-height-text">
                      {{ page_child.specific.description|richtext }}
                    </div>
                  <a href="{{ page_child.specific.url }}"><button type="button" class="btn btn-outline-default waves-effect btn-lg same-height-button">Каталог {{ page_child.specific.short_title }}</button></a>
                </div>
              </div>
            </div>
            {% endwith %}
            {% endfor %}
          </div>
        </section>
        <div class="space-between-sm"></div>
      </div>
    </div>
  </main>
{% endblock %}
