{% extends "../home/base_nav_footer.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block maincontainer %}
<main>
  <div class="container">
    <div class="space-between-md"></div>
    <div class="row">
      <div class="hidden-sm-down col-md-4 covidien-blue-bg">
        <div class="toc-wrapper pinned" style="top: 0px;">
          <ul class="table-of-contents textarea">
            {% for child_page in page.get_children %}
              <div class="row">
                <div class="col-md-1 marker stiked">
                  <li><a href="#{{ child_page.specific.pk }}"></a></li>
                </div>
                <div class="col-md-11 lower-border">
                  <li><a href="#{{ child_page.specific.pk }}"> {{ child_page.specific.title }}</a></li>
                </div>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-8 covidien-blue-list">
        <section class="section covidien-blue-list">
          {% for child_page in page.get_children %}
          <div class="row">
            <div class="col-lg-5 mb-r">

              <div id='{{ child_page.specific.pk }}' class="scrollspy">
                {% image child_page.specific.main_image fill-600x600 as category_image %}
                <a href="{{ child_page.specific.url }}">
                  <img src="{{ category_image.url }}" class="img-fluid image-container">

                  <div class="mask waves-light waves-effect waves-light">

                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-7 mb-r product-description">
              <h4 class="title"><a class="anchor" href="{{ child_page.specific.url }}">{{ child_page.specific.title }} </a></h4>
              <p class="intro">{{ child_page.specific.get_intro | striptags }}</p>
              <a href="{{ child_page.specific.url }}" class="btn btn-secondary waves-effect waves-light covidien-orange" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">Дізнатися більше про {{ child_page.specific.title }}</a>
            </div>
          </div>
          {% endfor %}
        </section>
      </div>
    </div>
    <div class="space-between"></div>
  </div>
</main>
{% endblock %}
