{% extends "./base_nav_footer.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block maincontainer %}
	<main>
		<!-- First container -->
		<div class="container">
			<!--Section: about-->
			<section class="section">

				<div class='space-between'></div>

				<ol class="breadcrumb d-inline-flex hidden-sm-down p-2 h6 wow fadeIn"
						data-wow-delay="0.7s"
						style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
					{% for ancestors in page.get_ancestors %}
						{% if ancestors.specific.title != 'Root' %}
							<li class="breadcrumb-item">
							<a href="{{ ancestors.specific.url }}">{{ ancestors.specific.title }}</a>
							</li>
						{% endif %}
					{% endfor %}
					<li class="breadcrumb-item">
					<a href="{{ page.url }}">{{ page.title }}</a>
					</li>
				</ol>

				<div class="dropdown-divider optima-light-color hidden-sm-down wow fadeIn"
						 data-wow-delay="0.2s"
						 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
				</div>

				<section id="productDetails">
					<div class="row product-page">
						<div class="col-lg-5">
							<!--Carousel Wrapper-->
							<div class="wow fadeIn" data-ride="carousel" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
										{% image page.main_image fill-675x900-c20 as tmp_picture %}
											<img class="d-block w-100" src="{{ tmp_picture.url }}" alt="">
										</div>
							</div>

							<!--/.Carousel Wrapper-->

						<div class="col-lg-7 product">
							<h2 class="h2-responsive center-on-small-only product-name wow fadeIn" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;"><strong>{{ page.title }}</strong></h2>
							<div class="dropdown-divider optima-light-color wow fadeIn" data-wow-delay="0.35s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;"></div>
							<!--Accordion wrapper-->
							<div class="wow fadeIn product-description" data-wow-delay="0.35s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
							{{ page.description|richtext }}
							</div>
						</div>
					</div>
				</section>
				<!-- First row -->
				<div class='space-between-xl'></div>
			</section>
		</div>
		<!-- End of first container-->
		<!-- Education streak-->


	</main>
{% endblock %}
