{% extends "../home/base_nav_footer.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block maincontainer %}
<main>
    <div class="container">
        <section class="breadcrumb">
            <div class='space-between'></div>
            <ol class="breadcrumb d-inline-flex hidden-sm-down p-2 h6 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                {% for ancestors in page.get_ancestors %}
                    {% if ancestors.specific.title != 'Root' %}
                    <li class="breadcrumb-item">
                        <a href="{{ ancestors.specific.url }}">{{ ancestors.specific.title }}</a>
                     </li>
                    {% endif %}
                {% endfor %}
                <li class="breadcrumb-item">
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
            </ol>
        </section>
        <section class="page-body">
            <div class="container-fluid zero-left-shift">
                <div class="tiles-mag zero-left-shift">
                    <div class="row mb-2 zero-left-shift">
                        <div class="col-md-3  zero-left-shift hidden-sm-down wow fadeIn" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                            <div class="list-group">
                                {% image page.main_image width-800 height-500 as preview_image %}
                                <div class="scope">
                                <a href="{{ preview_image.url }}" class="list-group-item no-padding gallery-hover" data-lightbox="gallery" data-title="{{ page.title }}">
                                    <img src="{{ preview_image.url }}" class="img-fluid" alt="" >
                                </a>
                                <i class="fa fa-search indicator"></i>
                                </div>
                                <div class="hidden-part">
                                {% for gallery_item in page.rest_of_images %}
                                    {% image gallery_item.image max-1000x500 as temp_img %}
                                    <a href="{{ temp_img.url }}" class="list-group-item no-padding gallery-hover" data-lightbox="gallery" data-title="{{ page.title }}">
                                        <img src="{{ temp_img.url }}" class="img-fluid" alt="">
                                    </a>
                                {% endfor %}
                                </div>
                                {% if page.get_prev_siblings %}
                                <!-- -->
                                    {% for prev_pages in page.get_prev_siblings %}
                                    <a href="{{ prev_pages.specific.url }}" class="list-group-item">{{ prev_pages.specific.title }}</a>
                                    {% endfor%}
                                 {% endif %}
                                <a href="{{ page.url }}" class="list-group-item active disabled">{{ page.title }}</a>
                                {% if page.get_next_siblings %}
                                    {% for next_pages in page.get_next_siblings %}
                                        <a href="{{ next_pages.specific.url }}" class="list-group-item">{{ next_pages.specific.title }}</a>
                                    {% endfor%}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-9">
                            {% if page.get_children_count == 0 %}
                                <section id="productDetails">
                                    <article class="row product-page">
                                        <div class="col-md-12 product">
                                            <h2 class="h2-responsive center-on-small-only product-name wow fadeIn" data-wow-delay="0.45s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                                                <strong class="product-title">{{ page.title }}</strong>
                                            </h2>
                                        <div class="dropdown-divider optima-light-color wow fadeIn" data-wow-delay="0.35s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;"></div>
                                        <div class="wow fadeIn product-description" data-wow-delay="0.35s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                                            <br> {{ page.description|richtext }}
                                        </div>
                                        </div>
                                    </article>
                                </section>

                            {% else %}

                                <div class="tiles-blog">
                                    {% if page.simple_pagination|length >= 1 %} {% for pages in page.simple_pagination %}
                                        <div class="row wow fadeIn" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                                        {% for child_page in pages %} {% if child_page != None %}
                                            <div class="col-md-4 tiles-margins " data-wow-delay="0.4s">
                                                <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                                    <a href="{{ child_page.specific.url }}">
                                                        <div class="tiles-image hm-zoom">
                                                            {% image child_page.specific.main_image fill-800x800-c20 as tmp_picture %}
                                                            <img src="{{ tmp_picture.url }}" class="img-fluid" alt="">
                                                        </div>
                                                    </a>
                                                    <div class="tiles-post-body">
                                                        <h4 class="tiles-post-title h4-responsive">
                                                            <a href={{ child_page.specific.url }} class="white-text">{{ child_page.specific.title }}</a>
                                                        </h4>
                                                    </div>
                                                 </div>
                                            </div>
                                      {% endif %}
                                     {% endfor %}
                                        </div>
                                {% endfor %} {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}